<?xml version="1.0" encoding="utf-8"?>
<Content Key="05720909-d02a-4221-aa51-222cbb5617cd" Alias="adw — 2026-09-15 23:47" Level="3">
  <Info>
    <Parent Key="e5010005-1111-4111-8111-111111111501">Contact Us</Parent>
    <Path>/ContactForms/ContactUs/adw202609152347</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsSubmission</ContentType>
    <CreateDate>2026-09-15T20:47:45</CreateDate>
    <NodeName Default="adw — 2026-09-15 23:47" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[]]></Value>
    </company>
    <email>
      <Value><![CDATA[beshoyasd@gmail.com]]></Value>
    </email>
    <message>
      <Value><![CDATA[asdadads]]></Value>
    </message>
    <occupation>
      <Value><![CDATA[awda]]></Value>
    </occupation>
    <phone>
      <Value><![CDATA[daw]]></Value>
    </phone>
    <sourcePage>
      <Value><![CDATA[contact-us]]></Value>
    </sourcePage>
    <submitterName>
      <Value><![CDATA[adw]]></Value>
    </submitterName>
  </Properties>
</Content>