<?xml version="1.0" encoding="utf-8"?>
<Content Key="e4985330-1601-4a23-a81b-ca374e47c261" Alias="Beshoy akram — 2026-09-15 22:32" Level="4">
  <Info>
    <Parent Key="a7010005-1111-4111-8111-111111111105">GL Accountant</Parent>
    <Path>/ContentTree/Careers/GLAccountant/BeshoyAkram202609152232</Path>
    <Trashed>false</Trashed>
    <ContentType>careerApplication</ContentType>
    <CreateDate>2026-09-15T19:32:31</CreateDate>
    <NodeName Default="Beshoy akram — 2026-09-15 22:32" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <applicantName>
      <Value><![CDATA[Beshoy akram]]></Value>
    </applicantName>
    <cv>
      <Value><![CDATA[[
  {
    "key": "54366b3e-4a97-46c1-848f-0d3f1c707689",
    "mediaKey": "be9e56cd-160b-47fc-b1e2-65e0f957f823",
    "mediaTypeAlias": "File",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cv>
    <email>
      <Value><![CDATA[beshoy2@gmail.com]]></Value>
    </email>
    <message>
      <Value><![CDATA[testttt2]]></Value>
    </message>
    <phone>
      <Value><![CDATA[01032913953]]></Value>
    </phone>
  </Properties>
</Content>