<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c124d59-b468-41fb-997d-e73e647a85da" Alias="Beshoy Akram — 2026-08-28 18:18" Level="3">
  <Info>
    <Parent Key="e5010005-1111-4111-8111-111111111501">Contact Us</Parent>
    <Path>/ContactForms/ContactUs/BeshoyAkram202608281818</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsSubmission</ContentType>
    <CreateDate>2026-08-28T15:18:07</CreateDate>
    <NodeName Default="Beshoy Akram — 2026-08-28 18:18" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[]]></Value>
    </company>
    <email>
      <Value><![CDATA[beshoyakram92@gmail.com]]></Value>
    </email>
    <message>
      <Value><![CDATA[test]]></Value>
    </message>
    <occupation>
      <Value><![CDATA[]]></Value>
    </occupation>
    <phone>
      <Value><![CDATA[+201032913953]]></Value>
    </phone>
    <sourcePage>
      <Value><![CDATA[]]></Value>
    </sourcePage>
    <submitterName>
      <Value><![CDATA[Beshoy Akram]]></Value>
    </submitterName>
  </Properties>
</Content>