<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d72e756-c001-4bf6-9b64-8626070b904a" Alias="Beshoy Akram — 2026-08-30 22:54" Level="3">
  <Info>
    <Parent Key="e5010005-1111-4111-8111-111111111502">Get In Touch</Parent>
    <Path>/ContactForms/GetInTouch/BeshoyAkram202608302254</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsSubmission</ContentType>
    <CreateDate>2026-08-30T19:54:08</CreateDate>
    <NodeName Default="Beshoy Akram — 2026-08-30 22:54" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[ITI]]></Value>
    </company>
    <email>
      <Value><![CDATA[beshoyakram92@gmail.com]]></Value>
    </email>
    <message>
      <Value><![CDATA[asd]]></Value>
    </message>
    <occupation>
      <Value><![CDATA[asd]]></Value>
    </occupation>
    <phone>
      <Value><![CDATA[+201032913953]]></Value>
    </phone>
    <sourcePage>
      <Value><![CDATA[bpo]]></Value>
    </sourcePage>
    <submitterName>
      <Value><![CDATA[Beshoy Akram]]></Value>
    </submitterName>
  </Properties>
</Content>