<?xml version="1.0" encoding="utf-8"?>
<Content Key="d8521de7-5ed6-486b-ad18-71739f1d0ce5" Alias="Beshoy Akram — 2026-08-30 21:40" Level="3">
  <Info>
    <Parent Key="e5010005-1111-4111-8111-111111111501">Contact Us</Parent>
    <Path>/ContactForms/ContactUs/BeshoyAkram202608302140</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsSubmission</ContentType>
    <CreateDate>2026-08-30T18:40:37</CreateDate>
    <NodeName Default="Beshoy Akram — 2026-08-30 21:40" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[]]></Value>
    </company>
    <email>
      <Value><![CDATA[beshoyakram92@gmail.com]]></Value>
    </email>
    <message>
      <Value><![CDATA[testtttt from about]]></Value>
    </message>
    <occupation>
      <Value><![CDATA[]]></Value>
    </occupation>
    <phone>
      <Value><![CDATA[+201032913953]]></Value>
    </phone>
    <sourcePage>
      <Value><![CDATA[]]></Value>
    </sourcePage>
    <submitterName>
      <Value><![CDATA[Beshoy Akram]]></Value>
    </submitterName>
  </Properties>
</Content>