<?xml version="1.0" encoding="utf-8"?>
<Content Key="8266cb0f-005b-4b2c-9de0-3c12c0dd9382" Alias="Beshoy Akram — 2026-09-03 12:44" Level="3">
  <Info>
    <Parent Key="e5010005-1111-4111-8111-111111111502">Get In Touch</Parent>
    <Path>/ContactForms/GetInTouch/BeshoyAkram202609031244</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsSubmission</ContentType>
    <CreateDate>2026-09-03T09:44:40</CreateDate>
    <NodeName Default="Beshoy Akram — 2026-09-03 12:44" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[ITI]]></Value>
    </company>
    <email>
      <Value><![CDATA[beshoyakram92@gmail.com]]></Value>
    </email>
    <message>
      <Value><![CDATA[qqqq]]></Value>
    </message>
    <occupation>
      <Value><![CDATA[aaaa]]></Value>
    </occupation>
    <phone>
      <Value><![CDATA[+201032913953]]></Value>
    </phone>
    <sourcePage>
      <Value><![CDATA[get-in-touch]]></Value>
    </sourcePage>
    <submitterName>
      <Value><![CDATA[Beshoy Akram]]></Value>
    </submitterName>
  </Properties>
</Content>