<?xml version="1.0" encoding="utf-8"?>
<Content Key="c6ecc34b-2cd4-42f2-a6cc-6ab0975553ac" Alias="Beshoy Akram — 2026-09-11 21:36 (1)" Level="3">
  <Info>
    <Parent Key="e5010005-1111-4111-8111-111111111502">Get In Touch</Parent>
    <Path>/ContactForms/GetInTouch/BeshoyAkram2026091121361</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsSubmission</ContentType>
    <CreateDate>2026-09-11T18:36:44</CreateDate>
    <NodeName Default="Beshoy Akram — 2026-09-11 21:36 (1)" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[ITI]]></Value>
    </company>
    <email>
      <Value><![CDATA[beshoyakram92@gmail.com]]></Value>
    </email>
    <message>
      <Value><![CDATA[ssss]]></Value>
    </message>
    <occupation>
      <Value><![CDATA[sass]]></Value>
    </occupation>
    <phone>
      <Value><![CDATA[+201032913953]]></Value>
    </phone>
    <sourcePage>
      <Value><![CDATA[bpo]]></Value>
    </sourcePage>
    <submitterName>
      <Value><![CDATA[Beshoy Akram]]></Value>
    </submitterName>
  </Properties>
</Content>