<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a13c7ab-d171-4171-a4c6-4edbb6b18f7d" Alias="Beshoy Akram — 2026-09-11 21:36 (2)" Level="3">
  <Info>
    <Parent Key="e5010005-1111-4111-8111-111111111502">Get In Touch</Parent>
    <Path>/ContactForms/GetInTouch/BeshoyAkram2026091121362</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsSubmission</ContentType>
    <CreateDate>2026-09-11T18:36:49</CreateDate>
    <NodeName Default="Beshoy Akram — 2026-09-11 21:36 (2)" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[ITI]]></Value>
    </company>
    <email>
      <Value><![CDATA[beshoyakram92@gmail.com]]></Value>
    </email>
    <message>
      <Value><![CDATA[wwww]]></Value>
    </message>
    <occupation>
      <Value><![CDATA[sadw]]></Value>
    </occupation>
    <phone>
      <Value><![CDATA[+201032913953]]></Value>
    </phone>
    <sourcePage>
      <Value><![CDATA[bpo]]></Value>
    </sourcePage>
    <submitterName>
      <Value><![CDATA[Beshoy Akram]]></Value>
    </submitterName>
  </Properties>
</Content>