<?xml version="1.0" encoding="utf-8"?>
<Content Key="675e24dc-b540-4015-9862-83e4b66666c8" Alias="Beshoy Akram — 2026-09-11 21:36" Level="3">
  <Info>
    <Parent Key="e5010005-1111-4111-8111-111111111502">Get In Touch</Parent>
    <Path>/ContactForms/GetInTouch/BeshoyAkram202609112136</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsSubmission</ContentType>
    <CreateDate>2026-09-11T18:36:36</CreateDate>
    <NodeName Default="Beshoy Akram — 2026-09-11 21:36" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[ITI]]></Value>
    </company>
    <email>
      <Value><![CDATA[beshoyakram92@gmail.com]]></Value>
    </email>
    <message>
      <Value><![CDATA[asw]]></Value>
    </message>
    <occupation>
      <Value><![CDATA[asw]]></Value>
    </occupation>
    <phone>
      <Value><![CDATA[+201032913953]]></Value>
    </phone>
    <sourcePage>
      <Value><![CDATA[bpo]]></Value>
    </sourcePage>
    <submitterName>
      <Value><![CDATA[Beshoy Akram]]></Value>
    </submitterName>
  </Properties>
</Content>