<?xml version="1.0" encoding="utf-8"?>
<Content Key="b72373ee-59d4-4a12-a56b-6d2e4a5a247d" Alias="Beshoy Akram — 2026-09-04 20:04" Level="4">
  <Info>
    <Parent Key="a7010005-1111-4111-8111-111111111102">Sales Support Specialist</Parent>
    <Path>/ContentTree/Careers/SalesSupportSpecialist/BeshoyAkram202609042004</Path>
    <Trashed>false</Trashed>
    <ContentType>careerApplication</ContentType>
    <CreateDate>2026-09-04T17:04:18</CreateDate>
    <NodeName Default="Beshoy Akram — 2026-09-04 20:04" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <applicantName>
      <Value><![CDATA[Beshoy Akram]]></Value>
    </applicantName>
    <cv>
      <Value><![CDATA[[
  {
    "key": "48f64a36-db48-4356-ac77-d8746f6571bd",
    "mediaKey": "597bfe81-7197-48ea-a9e1-353c48e5353c",
    "mediaTypeAlias": "File",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cv>
    <cvFileName>
      <Value><![CDATA[file-sample_150kB.pdf]]></Value>
    </cvFileName>
    <email>
      <Value><![CDATA[beshoyakram92@gmail.com]]></Value>
    </email>
    <message>
      <Value><![CDATA[]]></Value>
    </message>
    <phone>
      <Value><![CDATA[+201032913953]]></Value>
    </phone>
  </Properties>
</Content>