<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f6dfa30-327f-4f67-a471-4a4e2c2f7e11" Alias="beshoy akram — 2026-09-15 22:18" Level="3">
  <Info>
    <Parent Key="e5010005-1111-4111-8111-111111111502">Get In Touch</Parent>
    <Path>/ContactForms/GetInTouch/beshoyAkram202609152218</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsSubmission</ContentType>
    <CreateDate>2026-09-15T19:18:59</CreateDate>
    <NodeName Default="beshoy akram — 2026-09-15 22:18" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[centro]]></Value>
    </company>
    <email>
      <Value><![CDATA[beshoy@gmail.com]]></Value>
    </email>
    <message>
      <Value><![CDATA[hello test one]]></Value>
    </message>
    <occupation>
      <Value><![CDATA[123]]></Value>
    </occupation>
    <phone>
      <Value><![CDATA[01032913953]]></Value>
    </phone>
    <sourcePage>
      <Value><![CDATA[health]]></Value>
    </sourcePage>
    <submitterName>
      <Value><![CDATA[beshoy akram]]></Value>
    </submitterName>
  </Properties>
</Content>