<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7010006-1111-4111-8111-111111111001" Alias="blog" Level="2">
  <Info>
    <Parent Key="b490e316-b4b1-4636-b53e-4da7a378ad29">Content Tree</Parent>
    <Path>/ContentTree/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPage</ContentType>
    <CreateDate>2026-09-04T21:00:00</CreateDate>
    <NodeName Default="Blog">
      <Name Culture="en-US">Blog</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="01a04331-960a-789a-bc7b-1032733babdc">BlogPage</Template>
  </Info>
  <Properties>
    <bannerTitle>
      <Value Culture="en-US"><![CDATA[Blog]]></Value>
    </bannerTitle>
    <bannerImage>
      <Value Culture="en-US"><![CDATA[[
  {
    "key": "a7010006-3333-4333-8333-100000000001",
    "mediaKey": "a7010006-2222-4222-8222-211111111701",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bannerImage>
  </Properties>
</Content>
