<?xml version="1.0" encoding="utf-8"?>
<Content Key="2639dfa1-a15a-4ddf-b38a-59ca304ebec2" Alias="Content Tree" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContentTree</Path>
    <Trashed>false</Trashed>
    <ContentType>contentTreeRoot</ContentType>
    <CreateDate>2026-08-27T13:45:32</CreateDate>
    <NodeName Default="Content Tree">
      <Name Culture="en-US">Content Tree</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>