<?xml version="1.0" encoding="utf-8"?>
<Content Key="e5010005-1111-4111-8111-111111111501" Alias="Contact Us" Level="2">
  <Info>
    <Parent Key="e5010005-1111-4111-8111-111111111500">Contact Forms</Parent>
    <Path>/ContactForms/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsPage</ContentType>
    <CreateDate>2026-08-28T15:00:00</CreateDate>
    <NodeName Default="Contact Us" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <formKey>
      <Value><![CDATA[home]]></Value>
    </formKey>
    <inboxNote>
      <Value><![CDATA[Shared inbox for contact forms on Home and About (and any other page that uses formKey "home"). Open a row to read the full message.]]></Value>
    </inboxNote>
  </Properties>
</Content>
