<?xml version="1.0" encoding="utf-8"?>
<Content Key="e5010005-1111-4111-8111-111111111501" Alias="Contact Us" Level="3">
  <Info>
    <Parent Key="1550db10-5438-4993-a5b9-26c0d8357baa">Home</Parent>
    <Path>/ContentTree/Home/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsPage</ContentType>
    <CreateDate>2026-08-28T15:00:00</CreateDate>
    <NodeName Default="Contact Us" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <inboxNote>
      <Value><![CDATA[Messages from the homepage contact form appear here as child items. Open any row to read the full message.]]></Value>
    </inboxNote>
  </Properties>
</Content>