<?xml version="1.0" encoding="utf-8"?>
<Content Key="0beba5fc-b45c-4f8f-9a4b-ba52f55c54cc" Alias="Content Tree" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContentTree</Path>
    <Trashed>false</Trashed>
    <ContentType>contentTreeRoot</ContentType>
    <CreateDate>2026-08-27T12:06:57</CreateDate>
    <NodeName Default="Content Tree">
      <Name Culture="en-US">Content Tree</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>