<?xml version="1.0" encoding="utf-8"?>
<Content Key="b490e316-b4b1-4636-b53e-4da7a378ad29" Alias="Content Tree" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContentTree</Path>
    <Trashed>false</Trashed>
    <ContentType>contentTreeRoot</ContentType>
    <CreateDate>2026-08-27T13:50:22</CreateDate>
    <NodeName Default="Content Tree">
      <Name Culture="en-US">Content Tree</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="01a04303-f21a-7d7f-94e7-d49500e3a0bf">ContentTreeRoot</Template>
  </Info>
  <Properties />
</Content>