<?xml version="1.0" encoding="utf-8"?>
<Content Key="e5010005-1111-4111-8111-111111111500" Alias="Contact Forms" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactForms</Path>
    <Trashed>false</Trashed>
    <ContentType>contactFormsHolder</ContentType>
    <CreateDate>2026-08-30T18:40:00</CreateDate>
    <NodeName Default="Contact Forms" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>
