<?xml version="1.0" encoding="utf-8"?>
<Content Key="b7089e8a-7624-401c-8793-95ab1be1ed6f" Alias="Footer" Level="2">
  <Info>
    <Parent Key="2eb64352-8c90-4e45-9589-5432c6ec26a9">Global Site Settings</Parent>
    <Path>/GlobalSiteSettings/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>footer</ContentType>
    <CreateDate>2026-08-27T13:49:06</CreateDate>
    <NodeName Default="Footer">
      <Name Culture="en-US">Footer</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <copyright>
      <Value Culture="en-US"><![CDATA[© 2026 Centro. All Rights Reserved. Powered by N & L Enterprises.]]></Value>
    </copyright>
    <ctaButtonLabel>
      <Value Culture="en-US"><![CDATA[Get Started Today]]></Value>
    </ctaButtonLabel>
    <ctaButtonLink>
      <Value Culture="en-US"><![CDATA[#contact]]></Value>
    </ctaButtonLink>
    <ctaText>
      <Value Culture="en-US"><![CDATA[Let Centro take care of your non-core operations so you can focus on what matters most.]]></Value>
    </ctaText>
    <ctaTitle>
      <Value Culture="en-US"><![CDATA[Ready to Unlock Efficiency?]]></Value>
    </ctaTitle>
    <email>
      <Value Culture="en-US"><![CDATA[contact@centrocdx.com]]></Value>
    </email>
    <footerLogo>
      <Value Culture="en-US"><![CDATA[[
  {
    "key": "4b0d1723-ee40-46db-88b6-01b194720bc8",
    "mediaKey": "db5f360d-9af1-4b25-ba4e-adb2d07ca811",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerLogo>
    <phone>
      <Value Culture="en-US"><![CDATA[804-220-8745]]></Value>
    </phone>
  </Properties>
</Content>