<?xml version="1.0" encoding="utf-8"?>
<Content Key="b7089e8a-7624-401c-8793-95ab1be1ed6f" Alias="Footer" Level="2">
  <Info>
    <Parent Key="2eb64352-8c90-4e45-9589-5432c6ec26a9">Global Site Settings</Parent>
    <Path>/GlobalSiteSettings/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>footer</ContentType>
    <CreateDate>2026-08-27T13:49:06</CreateDate>
    <NodeName Default="Footer">
      <Name Culture="en-US">Footer</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <copyright>
      <Value Culture="en-US"><![CDATA[© 2026 Centro. All Rights Reserved. Powered by N & L Enterprises.]]></Value>
    </copyright>
    <ctaButtonLabel>
      <Value Culture="en-US"><![CDATA[Get Started Today]]></Value>
    </ctaButtonLabel>
    <ctaButtonLink>
      <Value Culture="en-US"><![CDATA[#contact]]></Value>
    </ctaButtonLink>
    <ctaText>
      <Value Culture="en-US"><![CDATA[Let Centro take care of your non-core operations so you can focus on what matters most.]]></Value>
    </ctaText>
    <ctaTitle>
      <Value Culture="en-US"><![CDATA[Ready to Unlock Efficiency?]]></Value>
    </ctaTitle>
    <email>
      <Value Culture="en-US"><![CDATA[contact@centrocdx.com]]></Value>
    </email>
    <footerLogo>
      <Value Culture="en-US"><![CDATA[[
  {
    "key": "4b0d1723-ee40-46db-88b6-01b194720bc8",
    "mediaKey": "db5f360d-9af1-4b25-ba4e-adb2d07ca811",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerLogo>
    <phone>
      <Value Culture="en-US"><![CDATA[804-220-8745]]></Value>
    </phone>
    <socialLinks>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c2010004-aaaa-4bbb-8ccc-000000000004",
      "key": "a4000004-0004-4004-8004-000000000001",
      "values": [
        {
          "alias": "name",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Facebook"
        },
        {
          "alias": "icon",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "41111111-1111-4111-8111-111111111501",
              "mediaKey": "f2010004-1111-4111-8111-111111111301",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "link",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com/lifeatcentrocdx"
        }
      ]
    },
    {
      "contentTypeKey": "c2010004-aaaa-4bbb-8ccc-000000000004",
      "key": "a4000004-0004-4004-8004-000000000002",
      "values": [
        {
          "alias": "name",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "LinkedIn"
        },
        {
          "alias": "icon",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "41111111-1111-4111-8111-111111111502",
              "mediaKey": "f2010004-1111-4111-8111-111111111302",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "link",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com/company/centrocdx"
        }
      ]
    },
    {
      "contentTypeKey": "c2010004-aaaa-4bbb-8ccc-000000000004",
      "key": "a4000004-0004-4004-8004-000000000003",
      "values": [
        {
          "alias": "name",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "Instagram"
        },
        {
          "alias": "icon",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "41111111-1111-4111-8111-111111111503",
              "mediaKey": "f2010004-1111-4111-8111-111111111303",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "link",
          "culture": "en-US",
          "editorAlias": null,
          "segment": null,
          "value": "https://www.instagram.com/centrocdx"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "a4000004-0004-4004-8004-000000000001",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "a4000004-0004-4004-8004-000000000002",
      "culture": "en-US",
      "segment": null
    },
    {
      "contentKey": "a4000004-0004-4004-8004-000000000003",
      "culture": "en-US",
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a4000004-0004-4004-8004-000000000001",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "a4000004-0004-4004-8004-000000000002",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "a4000004-0004-4004-8004-000000000003",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialLinks>
  </Properties>
</Content>
