<?xml version="1.0" encoding="utf-8"?>
<Content Key="e5010005-1111-4111-8111-111111111502" Alias="Get In Touch" Level="2">
  <Info>
    <Parent Key="e5010005-1111-4111-8111-111111111500">Contact Forms</Parent>
    <Path>/ContactForms/GetInTouch</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsPage</ContentType>
    <CreateDate>2026-08-30T22:00:00</CreateDate>
    <NodeName Default="Get In Touch" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <formKey>
      <Value><![CDATA[getInTouch]]></Value>
    </formKey>
    <inboxNote>
      <Value><![CDATA[Inbox for Get In Touch forms on Solution pages (BPO, Healthcare, Digital) and Free Consultation. formKey: getInTouch]]></Value>
    </inboxNote>
  </Properties>
</Content>
