<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7010003-1111-4111-8111-111111111001" Alias="get-in-touch" Level="2">
  <Info>
    <Parent Key="b490e316-b4b1-4636-b53e-4da7a378ad29">Content Tree</Parent>
    <Path>/ContentTree/get-in-touch</Path>
    <Trashed>false</Trashed>
    <ContentType>getInTouchPage</ContentType>
    <CreateDate>2026-09-03T12:00:00</CreateDate>
    <NodeName Default="Get In Touch">
      <Name Culture="en-US">Get In Touch</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="01a0432e-960a-789a-bc7b-1032733babdc">GetInTouchPage</Template>
  </Info>
  <Properties>
    <bannerThemeClass>
      <Value Culture="en-US"><![CDATA[bg7]]></Value>
    </bannerThemeClass>
    <bannerTitle>
      <Value Culture="en-US"><![CDATA[Free Consultation]]></Value>
    </bannerTitle>
    <formKey>
      <Value Culture="en-US"><![CDATA[getInTouch]]></Value>
    </formKey>
    <formTitle>
      <Value Culture="en-US"><![CDATA[Get In Touch]]></Value>
    </formTitle>
  </Properties>
</Content>
