<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7010003-1111-4111-8111-111111111001" Alias="contactus" Level="2">
  <Info>
    <Parent Key="b490e316-b4b1-4636-b53e-4da7a378ad29">Content Tree</Parent>
    <Path>/ContentTree/contactus</Path>
    <Trashed>false</Trashed>
    <ContentType>getInTouchPage</ContentType>
    <CreateDate>2026-09-03T12:00:00</CreateDate>
    <NodeName Default="Contact Us">
      <Name Culture="en-US">Contact Us</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="01a0432e-960a-789a-bc7b-1032733babdc">GetInTouchPage</Template>
  </Info>
  <Properties>
    <addressLine1>
      <Value Culture="en-US"><![CDATA[21515 Ridgetop Circle, Suite 120]]></Value>
    </addressLine1>
    <addressLine2>
      <Value Culture="en-US"><![CDATA[Sterling, VA, 20166]]></Value>
    </addressLine2>
    <bannerImage>
      <Value Culture="en-US"><![CDATA[[
  {
    "key": "a7010003-3333-4333-8333-100000000001",
    "mediaKey": "adc50178-a6b4-4d7b-97c1-8d887b13bebb",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bannerImage>
    <bannerTitle>
      <Value Culture="en-US"><![CDATA[CONTACT US]]></Value>
    </bannerTitle>
    <consentHelpText>
      <Value Culture="en-US"><![CDATA[Text HELP for assistance or contact us at {email}. Reply STOP at any time to unsubscribe.]]></Value>
    </consentHelpText>
    <consentText>
      <Value Culture="en-US"><![CDATA[By selecting this checkbox, I consent to receive text messages from Centro regarding my inquiries, requested services, appointments, and related updates. Message frequency varies. Message and data rates may apply.]]></Value>
    </consentText>
    <contactEmail>
      <Value Culture="en-US"><![CDATA[contact@centrocdx.com]]></Value>
    </contactEmail>
    <contactEmailNote>
      <Value Culture="en-US"><![CDATA[Send us your query anytime!]]></Value>
    </contactEmailNote>
    <contactPhone>
      <Value Culture="en-US"><![CDATA[+1 (975) 432-345]]></Value>
    </contactPhone>
    <contactPhoneHours>
      <Value Culture="en-US"><![CDATA[Mon to Fri 9am to 6pm]]></Value>
    </contactPhoneHours>
    <formKey>
      <Value Culture="en-US"><![CDATA[home]]></Value>
    </formKey>
    <formTitle>
      <Value Culture="en-US"><![CDATA[Get in Touch]]></Value>
    </formTitle>
    <mapEmbedUrl>
      <Value Culture="en-US"><![CDATA[https://maps.google.com/maps?q=21515+Ridgetop+Circle,+Suite+120,+Sterling,+VA+20166&hl=en&z=15&output=embed]]></Value>
    </mapEmbedUrl>
    <privacyCtaLabel>
      <Value Culture="en-US"><![CDATA[View our Privacy Policy and Terms & Conditions.]]></Value>
    </privacyCtaLabel>
  </Properties>
</Content>
