<?xml version="1.0" encoding="utf-8"?>
<Content Key="2eb64352-8c90-4e45-9589-5432c6ec26a9" Alias="Global Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobalSiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>globalSiteSettingHolder</ContentType>
    <CreateDate>2026-08-27T13:46:18</CreateDate>
    <NodeName Default="Global Site Settings" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>