<?xml version="1.0" encoding="utf-8"?>
<Content Key="0e7d25b2-011b-4a28-8640-c735273feda6" Alias="Home" Level="101">
  <Info>
    <Parent Key="0f582a79-1e41-4cf0-bfa0-76340651891a">Recycle Bin</Parent>
    <Path>/RecycleBin/Home</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2026-08-27T12:54:58</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="01a0432b-960a-789a-bc7b-1032733babdc">HomePage</Template>
  </Info>
  <Properties>
    <aboutCtaLabel>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </aboutCtaLabel>
    <aboutCtaLink>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </aboutCtaLink>
    <aboutImage>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </aboutImage>
    <aboutText>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </aboutText>
    <aboutTitle>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </aboutTitle>
    <aiBackground>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </aiBackground>
    <aiText>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </aiText>
    <aiTitle>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </aiTitle>
    <contactEyebrow>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </contactEyebrow>
    <contactImage>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </contactImage>
    <contactNote>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </contactNote>
    <contactTitle>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </contactTitle>
    <heroCtaLabel>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </heroCtaLabel>
    <heroCtaLink>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </heroCtaLink>
    <heroFallbackImage>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </heroFallbackImage>
    <heroLead>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </heroLead>
    <heroSubtext>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </heroSubtext>
    <heroTitle>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </heroTitle>
    <heroVideo>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </heroVideo>
    <ogImage>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </ogImage>
    <partnerLogos>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </partnerLogos>
    <partnersEyebrow>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </partnersEyebrow>
    <partnersTitle>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </partnersTitle>
    <sEODescription>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </sEODescription>
    <sEOKeywords>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </sEOKeywords>
    <sEOTitle>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </sEOTitle>
    <solutions>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </solutions>
    <solutionsEyebrow>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </solutionsEyebrow>
    <solutionsTitle>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </solutionsTitle>
    <stats>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </stats>
    <testimonials>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </testimonials>
    <testimonialsBackground>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </testimonialsBackground>
  </Properties>
</Content>