<?xml version="1.0" encoding="utf-8"?>
<Content Key="0e7d25b2-011b-4a28-8640-c735273feda6" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2026-08-27T12:54:58</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="01a0432b-960a-789a-bc7b-1032733babdc">HomePage</Template>
  </Info>
  <Properties />
</Content>