<?xml version="1.0" encoding="utf-8"?>
<Content Key="db1e2493-0d33-4f70-85b3-5f8e5ffdda51" Alias="Main Info" Level="2">
  <Info>
    <Parent Key="2eb64352-8c90-4e45-9589-5432c6ec26a9">Global Site Settings</Parent>
    <Path>/GlobalSiteSettings/MainInfo</Path>
    <Trashed>false</Trashed>
    <ContentType>siteMainInformation</ContentType>
    <CreateDate>2026-08-27T13:47:50</CreateDate>
    <NodeName Default="Main Info">
      <Name Culture="en-US">Main Info</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <favIcon>
      <Value Culture="en-US"><![CDATA[[
  {
    "key": "4b62fc00-7196-4ac3-8f79-73dd855a242a",
    "mediaKey": "8d3a830b-48dd-45cb-a60c-8138f73dbe92",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </favIcon>
    <headerCtaLabel>
      <Value Culture="en-US"><![CDATA[Free Consultation]]></Value>
    </headerCtaLabel>
    <headerCta>
      <Value Culture="en-US"><![CDATA[[
  {
    "name": "Free Consultation",
    "udi": "umb://document/a7010003111141118111111111111001",
    "url": "/get-in-touch",
    "target": null,
    "queryString": null
  }
]]]></Value>
    </headerCta>
    <siteLogo>
      <Value Culture="en-US"><![CDATA[[
  {
    "key": "c92710e6-637b-43c4-b277-2d4a731feb5c",
    "mediaKey": "9c9d7e8b-6114-4227-901a-c241be36bd12",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteTitle>
      <Value Culture="en-US"><![CDATA[Centro]]></Value>
    </siteTitle>
  </Properties>
</Content>