<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7010004-1111-4111-8111-111111111001" Alias="Solutions" Level="2">
  <Info>
    <Parent Key="b490e316-b4b1-4636-b53e-4da7a378ad29">Content Tree</Parent>
    <Path>/ContentTree/Solutions</Path>
    <Trashed>false</Trashed>
    <ContentType>solutionsHolder</ContentType>
    <CreateDate>2026-09-03T13:00:00</CreateDate>
    <NodeName Default="Solutions">
      <Name Culture="en-US">Solutions</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>