<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d3010005-cccc-4ddd-8eee-000000000005" Alias="contactUsPage" Level="2">
  <Info>
    <Name>Contact Us</Name>
    <Icon>icon-inbox color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Inbox for homepage contact form submissions. Each message appears as a child item below.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>d3010005-bbbb-4ccc-8ddd-000000000005</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Home</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d3010005-cccc-4ddd-8eee-000000000006" SortOrder="0">contactUsSubmission</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d3010005-cccc-4ddd-8eee-000000000051</Key>
      <Name>Inbox Note</Name>
      <Alias>inboxNote</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional note for editors. Form copy is edited on the Home page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="inbox">Inbox</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d3010005-cccc-4ddd-8eee-000000000095</Key>
      <Caption>Inbox</Caption>
      <Alias>inbox</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
