<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d3010005-cccc-4ddd-8eee-000000000010" Alias="contactFormsHolder" Level="1">
  <Info>
    <Name>Contact Forms</Name>
    <Icon>icon-mailbox color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Root folder for all site contact form inboxes. Add one Contact Us (or other form) node per form on the website.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Contact Forms</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d3010005-cccc-4ddd-8eee-000000000005" SortOrder="0">contactUsPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>
