<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a9c35145-450d-427c-abff-338ef22f2d88" Alias="contentTreeRoot" Level="1">
  <Info>
    <Name>Content Tree Root</Name>
    <Icon>icon-tree color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ContentTreeRoot</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="01a04303-f21a-7d7f-94e7-d49500e3a0bf">ContentTreeRoot</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4e98515a-9a58-4aaf-b4d3-d6476e69dbd5" SortOrder="0">homePage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>