<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1efb835b-3f86-48d7-8a33-4e6541e3ddba" Alias="globalSiteSettingHolder" Level="2">
  <Info>
    <Name>Global Site Setting Holder</Name>
    <Icon>icon-globe-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Root folder for reusable site-wide settings (logo, footer, contact).</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global+Site+Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>