<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1efb835b-3f86-48d7-8a33-4e6541e3ddba" Alias="globalSiteSettingHolder" Level="1">
  <Info>
    <Name>Global Site Setting Holder</Name>
    <Icon>icon-globe-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Root folder for reusable site-wide settings (logo, footer, contact).</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global Site Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="c8d5dea9-9d5d-4f01-bf7d-5bee7b0e7922" SortOrder="0">siteMainInformation</ContentType>
    <ContentType Key="898a2881-061d-4c74-98f2-57592d405dbc" SortOrder="1">footer</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>
