<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a7010001-bbbb-4ccc-8ddd-000000000001" Alias="About History Block List" Level="1">
  <Info>
    <Name>About History Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a7010001-cccc-4ddd-8eee-000000000002",
      "label": "{=year}"
    }
  ],
  "validationLimit": {
    "min": 0,
    "max": 20
  }
}]]></Config>
</DataType>
