<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a7010006-bbbb-4ccc-8ddd-000000000002" Alias="Blog Heading Level" Level="1">
  <Info>
    <Name>Blog Heading Level</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [ "h2", "h3" ],
  "multiple": false
}]]></Config>
</DataType>
