<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a7010006-bbbb-4ccc-8ddd-000000000001" Alias="Blog Content Block List" Level="1">
  <Info>
    <Name>Blog Content Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a7010006-aaaa-4bbb-8ccc-000000000001",
      "label": "Advanced HTML"
    }
  ],
  "validationLimit": {
    "min": 0,
    "max": 1
  }
}]]></Config>
</DataType>
