<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a7010005-bbbb-4ccc-8ddd-000000000002" Alias="Career Applications List View" Level="1">
  <Info>
    <Name>Career Applications List View</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Collection</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "includeProperties": [
    {
      "alias": "applicantName",
      "header": "Name",
      "isSystem": false
    },
    {
      "alias": "email",
      "header": "Email",
      "isSystem": false
    },
    {
      "alias": "phone",
      "header": "Phone",
      "isSystem": false
    },
    {
      "alias": "createDate",
      "header": "Submitted",
      "isSystem": true
    }
  ],
  "layouts": [
    {
      "name": "List",
      "collectionView": "Umb.CollectionView.Document.Table",
      "icon": "icon-list",
      "isSystem": true,
      "selected": true
    }
  ],
  "orderBy": "createDate",
  "orderDirection": "desc",
  "pageSize": 50
}]]></Config>
</DataType>
