<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2010004-bbbb-4ccc-8ddd-000000000004" Alias="Footer Social Links Block List" Level="1">
  <Info>
    <Name>Footer Social Links Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c2010004-aaaa-4bbb-8ccc-000000000004",
      "label": "{=name}"
    }
  ],
  "validationLimit": {
    "min": 0,
    "max": 20
  }
}]]></Config>
</DataType>