<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2010003-bbbb-4ccc-8ddd-000000000003" Alias="Home Testimonials Block List" Level="1">
  <Info>
    <Name>Home Testimonials Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b1010003-aaaa-4bbb-8ccc-000000000003",
      "label": "{{authorName}}"
    }
  ],
  "validationLimit": {
    "min": 0,
    "max": 20
  }
}]]></Config>
</DataType>
