<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2010002-bbbb-4ccc-8ddd-000000000002" Alias="Home Solutions Block List" Level="1">
  <Info>
    <Name>Home Solutions Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b1010002-aaaa-4bbb-8ccc-000000000002",
      "label": "{{index}} {{title}}"
    }
  ],
  "validationLimit": {
    "min": 0,
    "max": 12
  }
}]]></Config>
</DataType>
