<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a7010002-bbbb-4ccc-8ddd-000000000002" Alias="Solution Offers Block List" Level="1">
  <Info>
    <Name>Solution Offers Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a7010002-aaaa-4bbb-8ccc-000000000002",
      "label": "{=label}"
    }
  ],
  "validationLimit": {
    "min": 0,
    "max": 20
  }
}]]></Config>
</DataType>
