<?xml version="1.0" encoding="utf-8"?>
<Media Key="8910b181-6dd9-4680-89fd-2470092a57fb" Alias="About" Level="3">
  <Info>
    <Parent Key="4b7bd252-3b83-43f6-bc17-7c3331f063b4">Home</Parent>
    <Path>/Centro/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-27T13:44:20</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bz3fmp3q/about.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>