<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7010001-1111-4111-8111-111111111100" Alias="About Page" Level="2">
  <Info>
    <Parent Key="ee2076a5-7ff7-496b-91e5-3dd62755fd3f">Centro</Parent>
    <Path>/Centro/AboutPage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-08-30T18:00:00</CreateDate>
    <NodeName Default="About Page" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>
