<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7010006-2222-4222-8222-211111110725" Alias="Blog Post 22" Level="3">
  <Info>
    <Parent Key="a7010006-1111-4111-8111-211111111700">Blog Media</Parent>
    <Path>/Centro/BlogMedia/BlogPost22</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-04T21:00:00</CreateDate>
    <NodeName Default="2026 Contact Center Trends to Watch" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/blog/2026-contact-center-trends-what-to-watch-this-year.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>
