<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7010006-2222-4222-8222-21111111071d" Alias="Blog Post 14" Level="3">
  <Info>
    <Parent Key="a7010006-1111-4111-8111-211111111700">Blog Media</Parent>
    <Path>/Centro/BlogMedia/BlogPost14</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-04T21:00:00</CreateDate>
    <NodeName Default="Predictive Customer Experience: Using Data to Prevent Problems Before They Happe" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/blog/predictive-customer-experience-using-data-to-prevent-problems-before-they-happen.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>
