<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7010006-2222-4222-8222-211111110722" Alias="Blog Post 19" Level="3">
  <Info>
    <Parent Key="a7010006-1111-4111-8111-211111111700">Blog Media</Parent>
    <Path>/Centro/BlogMedia/BlogPost19</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-04T21:00:00</CreateDate>
    <NodeName Default="Empowering Our Communities: G.I.V.E. and The Egyptian Food Bank Collaboration" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/blog/empowering-our-communities-g-i-v-e-and-the-egyptian-food-bank-collaboration.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>
