<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7010006-2222-4222-8222-211111110731" Alias="Blog Post 34" Level="3">
  <Info>
    <Parent Key="a7010006-1111-4111-8111-211111111700">Blog Media</Parent>
    <Path>/Centro/BlogMedia/BlogPost34</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-11T12:00:00</CreateDate>
    <NodeName Default="centrocdx-com-prior-authorization-automation-2027" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/blog/centrocdx-com-prior-authorization-automation-2027.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>
