<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7010006-2222-4222-8222-211111110720" Alias="Blog Post 17" Level="3">
  <Info>
    <Parent Key="a7010006-1111-4111-8111-211111111700">Blog Media</Parent>
    <Path>/Centro/BlogMedia/BlogPost17</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-04T21:00:00</CreateDate>
    <NodeName Default="Bilingual Insurance BPO Services: How We Became a Top Brokerage's Most Trusted P" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/blog/bilingual-excellence-at-scale-how-we-became-a-top-insurance-brokerages-most-trusted-partner.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>
