<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7010006-2222-4222-8222-211111110716" Alias="Blog Post 7" Level="3">
  <Info>
    <Parent Key="a7010006-1111-4111-8111-211111111700">Blog Media</Parent>
    <Path>/Centro/BlogMedia/BlogPost7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-04T21:00:00</CreateDate>
    <NodeName Default="Why Strong Offshore Operations Still Deliver High-Quality Customer Support Outso" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/blog/why-strong-offshore-operations-still-deliver-high-quality-customer-support-outsourcing.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>
