<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7010006-2222-4222-8222-211111110718" Alias="Blog Post 9" Level="3">
  <Info>
    <Parent Key="a7010006-1111-4111-8111-211111111700">Blog Media</Parent>
    <Path>/Centro/BlogMedia/BlogPost9</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-04T21:00:00</CreateDate>
    <NodeName Default="What Buyers Should Ask Before Outsourcing CX" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/blog/what-buyers-should-ask-before-outsourcing-cx.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>
