<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7010006-2222-4222-8222-211111110721" Alias="Blog Post 18" Level="3">
  <Info>
    <Parent Key="a7010006-1111-4111-8111-211111111700">Blog Media</Parent>
    <Path>/Centro/BlogMedia/BlogPost18</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-04T21:00:00</CreateDate>
    <NodeName Default="What Happens After the Call? The Overlooked Half of Customer Experience" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/blog/what-happens-after-the-call-the-overlooked-half-of-customer-experience.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>
