<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7010006-2222-4222-8222-21111111071e" Alias="Blog Post 15" Level="3">
  <Info>
    <Parent Key="a7010006-1111-4111-8111-211111111700">Blog Media</Parent>
    <Path>/Centro/BlogMedia/BlogPost15</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-04T21:00:00</CreateDate>
    <NodeName Default="Centro Named to the IAOP Global 100 for the Fourth Consecutive Year" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/blog/centro-named-iaop-global-outsourcing-100.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>
