<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7010006-2222-4222-8222-21111111072a" Alias="Blog Post 27" Level="3">
  <Info>
    <Parent Key="a7010006-1111-4111-8111-211111111700">Blog Media</Parent>
    <Path>/Centro/BlogMedia/BlogPost27</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-04T21:00:00</CreateDate>
    <NodeName Default="Reducing Wait Times, Increasing Loyalty: The CX Impact of Contact Center Outsour" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/blog/reducing-wait-times-increasing-loyalty-the-cx-impact-of-contact-center-outsourcing.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>
