<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7010006-2222-4222-8222-21111111072d" Alias="Blog Post 30" Level="3">
  <Info>
    <Parent Key="a7010006-1111-4111-8111-211111111700">Blog Media</Parent>
    <Path>/Centro/BlogMedia/BlogPost30</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-04T21:00:00</CreateDate>
    <NodeName Default="Corporate Responsibility in Action: Centro’s Emergency Response Initiative" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/blog/corporate-responsibility-in-action-centros-emergency-response-initiative.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>
