<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd8d177f-c6a1-4cc3-91c0-e0bf2402c833" Alias="BPO" Level="3">
  <Info>
    <Parent Key="48296190-0ac7-474a-aa70-75888ec74281">Solutions</Parent>
    <Path>/Centro/Solutions/BPO</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-27T13:44:21</CreateDate>
    <NodeName Default="BPO" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4donw04i/bpo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>