<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb9adb4e-a637-4683-92aa-ddf585a08da7" Alias="Brand" Level="2">
  <Info>
    <Parent Key="ee2076a5-7ff7-496b-91e5-3dd62755fd3f">Centro</Parent>
    <Path>/Centro/Brand</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-08-27T13:44:18</CreateDate>
    <NodeName Default="Brand" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>