<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec45d116-62b7-4361-8fbd-3eef5be00fe6" Alias="Career CVs" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CareerCVs</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-09-04T17:04:18</CreateDate>
    <NodeName Default="Career CVs" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>