<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee2076a5-7ff7-496b-91e5-3dd62755fd3f" Alias="Centro" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Centro</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-08-27T13:44:17</CreateDate>
    <NodeName Default="Centro" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>