<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7010001-1111-4111-8111-111111111112" Alias="HIPAA" Level="4">
  <Info>
    <Parent Key="a7010001-1111-4111-8111-111111111110">Certificates</Parent>
    <Path>/Centro/AboutPage/Certificates/HIPAA</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-30T18:00:00</CreateDate>
    <NodeName Default="HIPAA" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/aboutpage/certs/hipaa.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>
