<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d3a830b-48dd-45cb-a60c-8138f73dbe92" Alias="Favicon" Level="3">
  <Info>
    <Parent Key="eb9adb4e-a637-4683-92aa-ddf585a08da7">Brand</Parent>
    <Path>/Centro/Brand/Favicon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-27T13:44:20</CreateDate>
    <NodeName Default="Favicon" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qrehyo3u/icon.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>