<?xml version="1.0" encoding="utf-8"?>
<Media Key="597bfe81-7197-48ea-a9e1-353c48e5353c" Alias="file-sample_150kB.pdf" Level="2">
  <Info>
    <Parent Key="ec45d116-62b7-4361-8fbd-3eef5be00fe6">Career CVs</Parent>
    <Path>/CareerCVs/fileSample_150kBpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-09-04T17:04:18</CreateDate>
    <NodeName Default="file-sample_150kB.pdf" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/career-cvs/a7010005111141118111111111111102/8469aa4c70394d2ea243a1a961c7edcf-file-sample_150kB.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>