<?xml version="1.0" encoding="utf-8"?>
<Media Key="be9e56cd-160b-47fc-b1e2-65e0f957f823" Alias="file-sample_150kB (3)" Level="2">
  <Info>
    <Parent Key="ec45d116-62b7-4361-8fbd-3eef5be00fe6">Career CVs</Parent>
    <Path>/CareerCVs/fileSample_150kB3</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-09-15T19:32:26</CreateDate>
    <NodeName Default="file-sample_150kB (3)" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hy5gkhrm/file-sample_150kb.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>