<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d932888-ddaa-46c6-86b0-e7e31858947a" Alias="file-sample_150kB" Level="2">
  <Info>
    <Parent Key="ec45d116-62b7-4361-8fbd-3eef5be00fe6">Career CVs</Parent>
    <Path>/CareerCVs/fileSample_150kB</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-09-04T17:11:38</CreateDate>
    <NodeName Default="file-sample_150kB" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pnagr1mn/file-sample_150kb.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>