<?xml version="1.0" encoding="utf-8"?>
<Media Key="a38a8bf9-6c90-41d4-9bf1-0e3f63556474" Alias="Hero Fallback" Level="3">
  <Info>
    <Parent Key="4b7bd252-3b83-43f6-bc17-7c3331f063b4">Home</Parent>
    <Path>/Centro/Home/HeroFallback</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-27T13:44:20</CreateDate>
    <NodeName Default="Hero Fallback" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ozanyfpz/homebg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>