<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b7bd252-3b83-43f6-bc17-7c3331f063b4" Alias="Home" Level="2">
  <Info>
    <Parent Key="ee2076a5-7ff7-496b-91e5-3dd62755fd3f">Centro</Parent>
    <Path>/Centro/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-08-27T13:44:19</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>