<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2010004-1111-4111-8111-111111111303" Alias="Instagram Icon" Level="4">
  <Info>
    <Parent Key="f2010004-1111-4111-8111-111111111300">Social</Parent>
    <Path>/Centro/Brand/Social/InstagramIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-27T15:15:03</CreateDate>
    <NodeName Default="Instagram Icon" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/social/instagram.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>
