<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2010004-1111-4111-8111-111111111302" Alias="LinkedIn Icon" Level="4">
  <Info>
    <Parent Key="f2010004-1111-4111-8111-111111111300">Social</Parent>
    <Path>/Centro/Brand/Social/LinkedInIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-27T15:15:02</CreateDate>
    <NodeName Default="LinkedIn Icon" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/social/linkedin.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>
