<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c9d7e8b-6114-4227-901a-c241be36bd12" Alias="Logo" Level="3">
  <Info>
    <Parent Key="eb9adb4e-a637-4683-92aa-ddf585a08da7">Brand</Parent>
    <Path>/Centro/Brand/Logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-27T13:44:19</CreateDate>
    <NodeName Default="Logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/as0nwkt3/logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>