<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1111111-1111-4111-8111-111111111203" Alias="Nevena Trainor" Level="4">
  <Info>
    <Parent Key="a5116a7f-fc2a-4932-bfd0-241fcac2e794">Testimonials</Parent>
    <Path>/Centro/Home/Testimonials/NevenaTrainor</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-27T14:46:28</CreateDate>
    <NodeName Default="Nevena Trainor" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/t1nfov1y/nevena-trainor.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>