<?xml version="1.0" encoding="utf-8"?>
<Media Key="3eebacf5-8c3b-4b7e-9946-aa2375f8d76c" Alias="Partner 3" Level="3">
  <Info>
    <Parent Key="dfedcdff-4ddf-4657-b2a7-26f7986a5658">Partners</Parent>
    <Path>/Centro/Partners/Partner3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-27T13:44:21</CreateDate>
    <NodeName Default="Partner 3" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pjtk1ccs/3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>