<?xml version="1.0" encoding="utf-8"?>
<Media Key="c59fc9a5-855d-4cc6-8c8b-18251892d0e7" Alias="Partner 8" Level="3">
  <Info>
    <Parent Key="dfedcdff-4ddf-4657-b2a7-26f7986a5658">Partners</Parent>
    <Path>/Centro/Partners/Partner8</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-27T13:44:22</CreateDate>
    <NodeName Default="Partner 8" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fibns2zu/8.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>