<?xml version="1.0" encoding="utf-8"?>
<Media Key="217c16b4-dfed-49d0-8c94-db85028c03d3" Alias="Partner 6" Level="3">
  <Info>
    <Parent Key="dfedcdff-4ddf-4657-b2a7-26f7986a5658">Partners</Parent>
    <Path>/Centro/Partners/Partner6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-27T13:44:21</CreateDate>
    <NodeName Default="Partner 6" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hpodvf2e/6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>