<?xml version="1.0" encoding="utf-8"?>
<Media Key="c113da96-34ca-4f98-a01a-76d3add4a277" Alias="Partner 7" Level="3">
  <Info>
    <Parent Key="dfedcdff-4ddf-4657-b2a7-26f7986a5658">Partners</Parent>
    <Path>/Centro/Partners/Partner7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-27T13:44:22</CreateDate>
    <NodeName Default="Partner 7" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/deifk33d/7.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>