<?xml version="1.0" encoding="utf-8"?>
<Media Key="af92700c-122d-4baa-b873-aa0a11544c78" Alias="Partner 2" Level="3">
  <Info>
    <Parent Key="dfedcdff-4ddf-4657-b2a7-26f7986a5658">Partners</Parent>
    <Path>/Centro/Partners/Partner2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-27T13:44:21</CreateDate>
    <NodeName Default="Partner 2" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qo3nigke/2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>