<?xml version="1.0" encoding="utf-8"?>
<Media Key="315afe30-64a0-41f2-8162-33e30b8a20cc" Alias="Partner 1" Level="3">
  <Info>
    <Parent Key="dfedcdff-4ddf-4657-b2a7-26f7986a5658">Partners</Parent>
    <Path>/Centro/Partners/Partner1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-27T13:44:21</CreateDate>
    <NodeName Default="Partner 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/x20bzb4j/1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>