<?xml version="1.0" encoding="utf-8"?>
<Media Key="51706656-59f8-461c-85f8-bc6681c14c4a" Alias="Partner 9" Level="3">
  <Info>
    <Parent Key="dfedcdff-4ddf-4657-b2a7-26f7986a5658">Partners</Parent>
    <Path>/Centro/Partners/Partner9</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-27T13:44:22</CreateDate>
    <NodeName Default="Partner 9" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1gwdnz2r/9.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>