<?xml version="1.0" encoding="utf-8"?>
<Media Key="dfedcdff-4ddf-4657-b2a7-26f7986a5658" Alias="Partners" Level="2">
  <Info>
    <Parent Key="ee2076a5-7ff7-496b-91e5-3dd62755fd3f">Centro</Parent>
    <Path>/Centro/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-08-27T13:44:19</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>