<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7010007-2222-4222-8222-211111111701" Alias="Privacy Banner" Level="3">
  <Info>
    <Parent Key="a7010007-1111-4111-8111-211111111700">Privacy Media</Parent>
    <Path>/Centro/PrivacyMedia/PrivacyBanner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-04T22:50:00</CreateDate>
    <NodeName Default="Privacy Banner" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/privacy/banner.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>
