<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2010004-1111-4111-8111-111111111300" Alias="Social" Level="3">
  <Info>
    <Parent Key="eb9adb4e-a637-4683-92aa-ddf585a08da7">Brand</Parent>
    <Path>/Centro/Brand/Social</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-08-27T15:15:00</CreateDate>
    <NodeName Default="Social" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>
