<?xml version="1.0" encoding="utf-8"?>
<Media Key="48296190-0ac7-474a-aa70-75888ec74281" Alias="Solutions" Level="2">
  <Info>
    <Parent Key="ee2076a5-7ff7-496b-91e5-3dd62755fd3f">Centro</Parent>
    <Path>/Centro/Solutions</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-08-27T13:44:19</CreateDate>
    <NodeName Default="Solutions" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>