<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7010002-1111-4111-8111-111111111710" Alias="BPO Page" Level="3">
  <Info>
    <Parent Key="48296190-0ac7-474a-aa70-75888ec74281">Solutions</Parent>
    <Path>/Centro/Solutions/BPOPage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-08-30T22:30:00</CreateDate>
    <NodeName Default="BPO Page" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>