<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7010002-2222-4222-8222-211111111727" Alias="Operational Efficiency" Level="4">
  <Info>
    <Parent Key="a7010002-1111-4111-8111-111111111730">Digital Page</Parent>
    <Path>/Centro/Solutions/DigitalPage/OperationalEfficiency</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-30T22:30:00</CreateDate>
    <NodeName Default="Operational Efficiency" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/solutions/digital/operational.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>