<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5116a7f-fc2a-4932-bfd0-241fcac2e794" Alias="Testimonials" Level="3">
  <Info>
    <Parent Key="4b7bd252-3b83-43f6-bc17-7c3331f063b4">Home</Parent>
    <Path>/Centro/Home/Testimonials</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-08-27T14:46:26</CreateDate>
    <NodeName Default="Testimonials" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>